.log_sign{
    margin:35%;
    margin-right:40%;
    margin-top:15%;
    margin-bottom:3%;
    border:1px solid #ccc;
    padding:3%;
    padding-top:1%;
    padding-bottom:4%;

}
.log_sign input{
    width:100%;
    height:35px;
    border:1px solid wheat;
    border-radius:2px;
}
.log_sign button{
    float:left;
    margin-top:2%;
    margin-bottom:2%;
    background-color:wheat;
    border:1px solid wheat;
    border-radius:3px;
    max-height:50px;
}
.log_sign button:hover{
    background-color:#ff9933;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}